<% is_user_logged_in? %>
<div class="h-100" data-controller="report-participation" style="overflow-x:hidden;">
    <div class="w-100 h-100" id="report-participation">
        <% if @subject.present? || @event.present? %>
            <%= render partial: "report_subject" %>
        <% else %>
            <div class="modal" tabindex="-1" aria-hidden="false" data-bs-backdrop="static" data-bs-keyboard="false" id="force-add-subject-dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                        <h5 class="modal-title ps-2">Warning</h5>
                        <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
                    </div>
                    <div class="modal-body">
                        <p>Your subject and event not found. Please add subject first</p>
                    </div>
                    <div class="modal-footer">
                        <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
                        <%= link_to "Go to add subject", participation_path(id: "check"), class: "btn btn-primary" %>
                        <%# <button type="button" class="btn btn-primary">Go to add subject</button> %>
                    </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>