<div class="mb-5">
    <%= render partial: "progress_signup", locals: {progress: 100, state_1: "active", state_2: "active", state_3: "active", state_4: "active"} %>
</div>
<div class="text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-check-circle text-success" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
    </svg>
    <h2 class="mb-3 title-signup name" style="font-weight: 600;">Registration successfully</h2>
    <p>ขอบคุณที่เข้าร่วมกับสถาบันติว PD music school กรุณารอสักครู่แอดมินกำลังตรวจสอบข้อมูล</p>
    <p class="mb-5">หากข้อมูลของคุณถูกต้องและครบถ้วน แอดมินจะแจ้งไปยัง Email: <% email %> ภายใน 24 ชั่วโมง เพื่อใช้งานระบบต่อไป</p>
    <%= link_to "Login", login_path(), class: "btn btn-primary w-25" %>
</div>