<div class="mb-4 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-exclamation-circle forgot-icon" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
    </svg>
    <h1 class="forgot-password-text"> Forgot password</h1>
    <span>Please enter you email and we'll send you a link to reset your password</span>
</div>
<%= form_for :form_forgot_password, url: login_reset_password_path(format: :json), method: :POST, html: { data: { "action": "submit->login#onPostSuccess" } } do |f| %>
    <div class="mb-5">
        <label for="email" class="form-label">Email :</label>
        <%= f.text_field :email, class: "form-control", id: "email" %>
    </div>
    
    <div class="mb-3 text-center">
        <%= button_tag( class: "btn btn-primary w-50", id: "btn-send-forgot") do %>
            <span>Send</span>
        <% end %>
    </div>
<% end %>