<style>
    .div-body{
        margin-left: 0px !important;
    }
</style>
<div class="background-div-register">
    <div class="m-auto w-75" id="div-register">
        <div class="container h-100" data-controller="signup">
            <div class="row">
                <div class="col-6 p-0" id="register-info">
                    <div id="register-picture">
                         <%= render partial: "image_slide" %>
                    </div>
                </div>
                <div class="col-6 px-4 py-4" id="div-form-signup">
                    <%= render partial: "form_username" %>
                </div>
            </div>
        </div>
    </div>
</div>